@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@font-face {
  font-family: "MilkDrops";
  src: local("MilkDrops"),
    url("../assets/fonts/MilkDrops-Bold.woff") format("woff");
}

.font-fam-milk-drops {
  font-family: MilkDrops;
}

html {
  min-height: 100%;
}

html,
body,
#root,
.App {
  margin: 0;
  overflow-y: "auto";
}

a:link {
  color: #0b3c5d;
}

tspan {
  padding: 4px;
}

/* global selectors --> */

::-webkit-input-placeholder {
  /* Edge */
  color: #0b3c5d;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #0b3c5d;
}

::placeholder {
  color: #0b3c5d;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* <-- global selectors */

.align-items-center {
  align-items: center;
}

.align-items-flex-end {
  align-items: flex-end;
}

.align-items-flex-start {
  align-items: flex-start;
}

.align-self-center {
  align-self: center;
}

.bg-color-blue {
  background-color: #0b3c5d;
}

.bg-color-light-gray {
  background-color: #f9f9f9;
}

.bg-color-yellow {
  background-color: #ffc500;
}

.bg-transparent {
  background-color: transparent;
}

.border-color-light-gray {
  border-color: #bcbcbc;
}

.border-radius-5px {
  border-radius: 5px;
}

.border-radius-21px {
  border-radius: 21px;
}

.border-radius-email-input {
  border-radius: 21px 0 0 21px;
}

.border-radius-submit-button {
  border-radius: 0 21px 21px 0;
}

.border-style-none {
  border-style: none;
}

.border-style-solid {
  border-style: solid;
}

.border-style-email-input {
  border-style: solid none solid solid;
}

.border-style-secondary-input {
  border-style: none none solid none;
}

.border-width-thin {
  border-width: thin;
}

.border-width-1px {
  border-width: 1px;
}

.box-shadow-button {
  box-shadow: 0 3px 6px rgb(0, 0, 0, 0.16);
}

.box-shadow-card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.color-blue {
  color: #0b3c5d;
}

.color-dark {
  color: #1a1a1a;
}

.color-light-gray {
  color: #c2c2c2;
}

.color-red {
  color: red;
}

.color-white {
  color: #ffffff;
}

.color-yellow {
  color: #ffc500;
}

.column-gap-3-percent {
  column-gap: 3%;
}

.cursor-pointer {
  cursor: pointer;
}

.d-flex {
  display: flex;
}

.d-inline-grid {
  display: inline-grid;
}

.d-none {
  display: none;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.font-fam-open-sans {
  font-family: "Open Sans", sans-serif;
}

.font-size-question-responsive {
  font-size: calc(30px + (36 - 30) * ((100vw - 300px) / (1920 - 300)));
}

.font-size-0-875rem {
  font-size: 0.875rem;
}

.font-size-1rem {
  font-size: 1rem;
}

.font-size-1-125rem {
  font-size: 1.125rem;
}

.font-size-1-25rem {
  font-size: 1.25rem;
}

.font-size-1-375rem {
  font-size: 1.375rem;
}

.font-size-1-625rem {
  font-size: 1.625rem;
}

.font-size-1-875rem {
  font-size: 1.875rem;
}

.font-weight-sb {
  font-weight: 600;
}

.font-weight-b {
  font-weight: bold;
}

.grid-template-breadcrumbs {
  grid-template-columns: repeat(auto-fit, minmax(5px, 1fr));
}

.height-auto {
  height: auto;
}

.height-15-percent {
  height: 15%;
}

.height-35-percent {
  height: 35%;
}

.height-50-percent {
  height: 50%;
}

.height-100-percent {
  height: 100%;
}

.height-42px {
  height: 42px;
}

.height-44px {
  height: 44px;
}

.height-15-vh {
  height: 15vh;
}

.height-75-vh {
  height: 75vh;
}

.just-cont-center {
  justify-content: center;
}

.just-cont-flex-end {
  justify-content: flex-end;
}

.just-cont-space-around {
  justify-content: space-around;
}

.just-cont-space-between {
  justify-content: space-between;
}

.just-cont-space-evenly {
  justify-content: space-evenly;
}

.left-0 {
  left: 0;
}

.line-height-25px {
  line-height: 25px;
}

.line-height-32px {
  line-height: 32px;
}

.line-height-40px {
  line-height: 40px;
}

.margin-0-1rem {
  margin: 0 1rem;
}

.margin-1-0rem {
  margin: 1rem 0;
}

.margin-1-1rem {
  margin: 1rem 1rem;
}

.margin-0-1-2-1rem {
  margin: 0 1rem 2rem 1rem;
}

.margin-0-1-2-1rem {
  margin: 0 1rem 2rem 1rem;
}

.margin-b-0-25rem {
  margin-bottom: 0.25rem;
}

.margin-b-0-25rem:last-child {
  margin-bottom: 0;
}

.margin-b-0-5rem {
  margin-bottom: 0.5rem;
}

.margin-b-1rem {
  margin-bottom: 1rem;
}

.margin-b-2rem {
  margin-bottom: 2rem;
}

.margin-b-3rem {
  margin-bottom: 3rem;
}

.margin-left-0-25rem {
  margin-left: 0.25rem;
}

.margin-l-1-ch {
  margin-left: 1ch;
}

.margin-l-0-75rem {
  margin-left: 0.75rem;
}

.margin-t-0-5rem {
  margin-top: 0.5rem;
}

.margin-t-1rem {
  margin-top: 1rem;
}

.margin-t-2rem {
  margin-top: 2rem;
}

.margin-t-2-5-rem {
  margin-top: 2.5rem;
}

.margin-t-3rem {
  margin-top: 3rem;
}

.max-height-auto {
  max-height: auto;
}

.min-height-42-percent {
  min-height: 42%;
}

.min-height-100-percent {
  min-height: 100%;
}

.outline-0 {
  outline: 0;
}

.overflow-y-auto {
  overflow-y: auto;
}

.padding-10-px {
  padding: 10px;
}

.padding-1-1-0-1rem {
  padding: 1rem 1rem 0 1rem;
}

.padding-navbar {
  padding: calc(16px + (32 - 16) * ((100vw - 375px) / (1920 - 375)));
}

.padding-0-1rem {
  padding: 0 1rem;
}

.padding-0-1-5rem {
  padding: 0 1.5rem;
}

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.text-decoration-underline {
  text-decoration: underline;
}

.visibility-hidden {
  visibility: hidden;
}

.width-auto {
  width: auto;
}

.width-50-px {
  width: 50px;
}

.width-80-px {
  width: 80px;
}

.width-375-px {
  width: 375px;
}

.width-70-percent {
  width: 70%;
}

.width-100-percent {
  width: 100%;
}

.width-100-vw {
  width: 100vw;
}

/* width for email input field: 100% minus padding and border width */
.width-breadcrumb {
  width: calc(100% - 32px);
}

.width-contact-us {
  width: calc(100% - 30px);
}

.width-input-field-email {
  width: calc(100% - 50px);
}

.width-matrix {
  width: calc(100% - 30px);
}

.width-navbar {
  width: calc(100% - (32px + (64 - 32) * ((100vw - 375px) / (1920 - 375))));
}

.height-mobile {
  height: 46vh;
}

@media only screen and (min-width: 376px) {
  .height-desktop {
    height: 40vh;
  }

  .just-cont-flex-start-lg {
    justify-content: flex-start;
  }

  .margin-button-lg {
    margin: 1rem 1rem 2rem 1rem;
  }

  .padding-0-2rem-lg {
    padding: 0 2rem;
  }

  .width-auto-lg {
    width: auto;
  }

  .width-email-input-lg {
    width: 264px;
  }

  .width-results-lg {
    width: 465px;
  }
}
